/* Color Scheme */
/* Night color: #003459; */
/* Lake color: #2767ff; */
/* Sky color: #73cbf2; */
/* Fog color: #8e9fbc; */
/* Steam color: #dde5ed; */
/* Brick color: #971b2f; */
/* Fire color: #ff3042; */
/* Wheat color: #f2a900; */
/* Terra Cotta color: #c66e4e; */
/* Limestone color: #d7d2cb; */
/* peach #DBB1A9; */
/* Grey color: #f2f4f5; */

p {
  font-family: "Lato";
  font-size: 1.5rem;
}
h1{
  font-family: "Raleway";
  font-weight: 700;
  padding-top: 20px;
  padding-bottom: 20px;
}

 h2 {
   font-family: "Raleway";
   font-weight: 600;
 }

 h3, h4, h5, h6 {
   font-family: "Raleway";
   font-weight: 500;
 }

body {
  text-align:center;
  margin-bottom: 0;
}

hr {
  border-color: #8e9fbc;
  border-style: dotted none none;
  border-width: 5px;
  width: 10%;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
}


.Blue-section {
    background-color: #003459;
    color: #f2f4f5;
}

.Limestone-section {
  background-color: #d7d2cb;
  color: #003459;
}

.grey-section {
  background-color: #f2f4f5;
  color: #003459;
}

/* Header */
.header-logo{
  padding: 2% 0;
  width:40%;
}
.nav-link, .navbar-brand {
  font-family: "Raleway";
  font-weight: 700;
}

/* Welcome */
#Welcome {
  text-align:center;
}

.Flo-image {
border-radius: 100%;
width:25%;
padding:3% 0;
}
.welcome-msg {
  margin: 0 30%;
  padding: 0 0 5%;
}

@media (max-width: 900px) {
.welcome-msg {
  margin: 0 5%;
}
}




/* Current Projects */
#current-projects {
  padding: 5% 0;
  position: relative;
}

.feature-title {
  font-size: 1.5rem;
  margin-bottom:3rem;
}

.feature-box {
  padding: 4.5%;
}

.icon {
  color: #003459;
  margin-bottom: 3rem;
}

.icon:hover {
  color: #8e9fbc;
}

/* Contact */

#Contact {
  padding: 7% 0%;
}

.Contact-msg {
  padding-bottom: 2%;
}

.email-button{
  width: 10%;
}

/* copyright */
#footer {
  padding: 2% 0;
}

.copyright-txt {
  font-size: 1rem;
  font-weight: 400;
}

.social-icon {
  margin: 20px 10px;
  color: #f2f4f5;
}



/* Publications */
#Journal_Publications {
  padding: 3% 0;
}

.publication-style {
  text-align: left;
  padding-left: 15%;
  padding-right: 15%;
}

#Journal_Publications_v2 h2 {
font-size: 24px;
}

#Journal_Publications_v2 h3 {
font-size: 20px;
}

#Journal_Publications_v2 p {
font-size: 14px;
}

#Journal_Publications_v2 {
  padding: 3% 0;
}

.publication-style_v2 {
  text-align: left;
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 2%;
}


/* Presentation Style */
.Presentation_style p {
  text-align: left;
  padding-right: 15%;
}

.Presentation_style img {
  width:350px;
  height: 350px;
}

.Presentation_row {
  margin-bottom: 50px;
}

/* Poster Style */

.Poster_style img {
  width:500px;
  height: 350px;
}

.Poster_style p {
  text-align: left;
  padding-right: 15%;
}


/* Flo Bio */
.skill-row {width: 70%; margin-bottom: 30px auto 150px auto; padding-top: 20px; text-align:left; line-height: 2;}
.first-skill {width:30%; float:left; margin-right:50px;}
.second-skill {width:30%;float:right; margin-left: 50px;}
.third-skill {width:30%;float:left; margin-right: 50px;}

.Flo_Bio_Container {
width: 80%; margin:auto; padding-bottom: 30px;
}


.Flo_Bio_Style i {
    width: 350px;
    height: 350px;
  }

  .Flo_Bio_Style p {
    text-align: left;
  }

/* Student Page */

.Student_container {
width: 80%; margin:auto; padding-bottom: 30px;
}

.Student_container_top {
width: 80%; margin:auto; padding-bottom: 30px;
}


@media (max-width: 1400px) {
.Student.container {
width: auto; margin: 15% auto 10% auto; padding-bottom: 30px;
}
}

.Student_style {
  padding-bottom: 200px;
}

.Student_style img {
  border-radius: 100%;
  width: 350px;
  height: 350px;
}

.Student_style p {
  text-align: left;
}

/* Undergraduate Student Changes */
.U_Student_style {
  padding-bottom: 100px;
}

.U_Student_style h2{
  text-align: left;
}

.U_Student_style h3{
  text-align: left;
}

.U_Student_style h4{
  text-align: left;
}

.U_Student_style p{
  text-align: left;
}

.U_Student_style img {
  border-radius: 100%;
  width: 200px;
  height: 200px;
}

/* Alumni */
#Alumni p {
margin: 0 auto;
text-align: center;
font-size: 1rem;}

.UG_List {
  width: 70
}

/* Our Impact Page */
#Collaborations {
  padding-top:7%;
}
#Collaborations h1 {
  padding: 8% auto;
}

.list-group-flush {
  width: 70%;
  text-align:left;
  margin:5% auto;
}
.list-group-item p {
  font-size: 1.25rem;
  background-color: #f2f4f5;
}
#Collaborations p {
  padding-top:10px;
}
.collab-row {width: 80%; margin: 0 auto; line-height: 2; padding-bottom: 30px;}
.impact-row {width: 80%; margin: 0 auto; text-align: left; line-height: 2; padding-bottom: 30px;}
.collab-logo{
  width: 25%;
  margin: 3% auto;
  border-radius: 100%;
}
